* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    background-color: rgba(0, 0, 0, 0.932);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    padding: 0 100px;
    background-color: white;
    box-shadow: 0 10px 60px black;
    width: 100%;
    height: 70px;
    z-index: 1000;
}

header .logo {
    height: 70px;
    line-height: 70px;
    float: left;
}

header .logo a {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;

}

header .logo a i {
    font-size: 32px;
    animation: ani 1s infinite alternate;
    padding-right: 10px;
}

@keyframes ani {
    to {
        transform: scale(1.4);
    }
}


header nav {
    float: right;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li button {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    border-radius: 60px;
    border: orange 2px solid;
    font-weight: bold;
    transition: all 1s;
}

header nav ul li button:hover {
    background-color: orange;
    color: white;
}

header nav ul li button .fa-google-play {
    color: orange;
    padding-left: 5px;
    transition: all 1s;
}

header nav ul li button:hover .fa-google-play {
    color: white;
}




header nav ul li a {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

/* header nav ul li a.active, */
header nav ul li a:hover {
    background-color: orange;
    color: white;
}

header .menu-toggle {
    color: black;
    line-height: 70px;
    font-size: 24px;
    float: right;
    cursor: pointer;
    display: none;
}



.display {
    width: 100%;
    height: 600px;
    display: flex;



}

.display .home {
    width: 50%;
    height: 400px;
    margin: 100px;

}

.display .home h1 {
    font-size: 60px;
}

.display .home p {
    font-size: 30px;
    color: gray;
}

.display .home .mode {
    position: relative;
    right: 90px;
    width: 85px;
    height: 25px;
    border-radius: 20px;
    color: #fff;
    background-color: orange;
    border: none;
    font-weight: bold;
}

.display .home a button {
    width: 150px;
    height: 45px;
    border-radius: 60px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: all 1s;
    margin-top: 50px;
}

.display .home a button:hover {
    background-color: rgb(23, 195, 218);
}

.display .animation {
    width: 50%;
    height: 400px;


}

.display .animation i {
    font-size: 400px;
    margin: 100px;
    animation: ani2 1.5s infinite;
    position: absolute;
    color: darkorange;

}

@keyframes ani2 {

    0% {
        top: 50px;
    }

    50% {
        top: 60px;
    }

    100% {
        top: 50px;
    }
}

.sponser {

    width: 100%;
    height: 170px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    background-color: rgba(200, 177, 177, 0.227);
}

.sponser img {
    width: 100px;
    height: 100px;
    margin: 50px;
    transition: 1s all;

}

.sponser img:hover {
    transform: scale(1.2, 1.2);
}

.how {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: solid black 1px;
}

.how h2 {
    margin: 50px;
    font-size: 40px;
    color: darkslategrey;
}

.useing {
    width: 100%;
    display: flex;
}

.useing img {
    margin: 40px;
}

.useing p {
    margin: 40px;
    font-size: 20px;
}

.useing button {
    width: 160px;
    height: 45px;
    background-color: #fff;
    border: orange 2px solid;
    color: orange;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    top: 60px;
    right: 65px;
    transition: all 1s;
}

.useing button #logo {
    color: orange;
    position: relative;
    right: 2px;
}

.useing button:hover {
    background-color: orange;
    color: #fff;
}

.who {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: solid black 1px;
    margin: 50px 0px;

}

.who h3 {
    margin: 50px;
    font-size: 40px;
    color: darkslategrey;
}

.div4 {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 230px;
}

.div4 .par1 {
    width: 50%;
    height: 300px;



}

.div4 .par1 p {

    margin: 0px 50px 20px 70px
}

.div4 .par1 ul {
    margin-left: 90px;
    list-style-type: none;
}

.div4 .par1 ul li {
    margin-top: 10px;
}

.div4 .par2 {
    width: 50%;
    height: 300px;

}

.div4 .par2 p {
    margin-right: 100px;
}

.div4 .par2 button {
    width: 160px;
    height: 45px;
    margin-top: 30px;
    background-color: #fff;
    border: orange 2px solid;
    color: orange;
    font-weight: bold;
    transition: all 1s;
    border-radius: 5px;
    font-size: 15px;
}

.div4 .par2 button:hover {
    background-color: orange;
    color: #fff;
}

.color {
    width: 100%;
    height: 1550px;
    background-color: rgba(200, 177, 177, 0.227);
}

.cate {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 50px;

}

.cate h4 {
    font-size: 40px;
    color: darkslategrey;
    padding: 60px 0px;
}

.div5 {
    width: 90%;
    height: 900px;
    margin: auto;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div5 .d1 {
    width: 430px;
    height: 290px;
    border-radius: 30px;
    margin: 0px 10px 0px 10px;
    position: relative;
    transition: all 0.5s;

}

.div5 .d1:hover {
    transform: translatey(-10px);
}

.div5 .d1 h5 {
    background-color: orange;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 60px;

}

.div5 .d1 img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.brands {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 50px;
    justify-content: space-between;
}

.brands h6 {
    font-size: 40px;
    color: darkslategrey;
    border-bottom: solid black 1px;
}

.brands p {
    margin: 15px 0px;
}

.brands img {
    width: 250px;
    height: 250px;
    margin: 40px 80px;
}

.contact {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;

}

.contact h6 {
    font-size: 40px;
    color: darkslategrey;
    border-bottom: solid 1px black;
}

.contact p {
    margin: 30px 40px;
}

.div6 {
    width: 100%;
    height: auto;
    display: flex;
}

.div6 img {
    width: 700px;
    height: 500px;
    margin: 0px 0px 40px 50px;
}

.div6 .form{
    width: 600px;
    height: 500px;
    margin-left: 30px;
    box-shadow: 0px 0px 7px black;
    border-top: solid orange 3px;
    border-bottom: solid orange 3px;
    font-size: 25px;
    text-align: center;
}

.div6 .form .form-row { 
    display: flex;
    width: 100%;
    height: auto;
}
.div6 .form .form-row .form-group {
    width: 100%;
    height: auto;
} 
.div6 .form .form-row .form-group input {
    width: 90%;
    height: 35px;
}

.div6 .form .form-group{
    padding-top: 10px;
    width: 90%;
    height: auto;
    margin: auto;
}
.div6 .form .form-group label{
color: black;
font-weight: bold;
}

.div6 .form .form-group input{
width: 100%;
height: 25px;
}
.div6 .form .form-group textarea{
width: 100%;
height: 200px;
}


.div6 .form .button{
    margin:50px auto  0px auto;
    width: 190px;
    height: auto;
}
.div6 .form .button button{
  

    width: 190px;
    height: 50px;
    border-radius: 60px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: all 1s;


}
.div6 .form .button button:hover{
cursor: pointer;
background-color: rgb(23, 195, 218);

}




.social {
    width: 100%;
    height: 200px;


}

.social #h7 {
    margin: 20px;
    font-size: 20px;
    color: darkslategrey;

}

.social p {
    margin: 20px;
    font-size: 15px;
}

.social i {
    margin: 10px 0px 3px 20px;
    font-size: 30px;
    color: orange;
    transition: all 1s;

}

.social i:hover {
    color: rgb(23, 195, 218);
    ;

}

footer {
    width: 100%;
    height: 150px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

footer p {
    padding: 30px 90px;
    font-size: 20px;
}

footer #text {
    margin: 0px 0px 0px 400px;
}

footer #text a {
    text-decoration: none;
    color: white;
}

footer #text a:hover {
    color: blue;
}

@media (max-width:991px) {
    .dark {
        background-color: rgba(0, 0, 0, 0.932);
        color: #fff;
    }

    body {
        overflow-x: hidden;
    }

    header {
        padding: 0 20px;

    }

    header .menu-toggle {

        display: block;
    }

    header nav {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: 1s;
    }

   .active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);


    }



    .display {
        width: 100%;
        height: 600px;
        display: block;
    }

    .display .home {
        width: 310px;
        height: 200px;


    }

    .display .home h1 {
        font-size: 30px;
        position: relative;
        right: 60px;


    }

    .display .home p {
        font-size: 25px;
        color: gray;
        position: relative;
        right: 60px;


    }

    .display .home a button {
        width: 150px;
        height: 45px;
        border-radius: 60px;
        border: none;
        background-color: orange;
        color: white;
        font-size: 15px;
        font-weight: bold;
        transition: all 1s;
        margin: 30px 20px;
        position: relative;
        right: 60px;

    }

    .display .home .mode {
        position: relative;
        right: 90px;
        width: 85px;
        height: 25px;
        border-radius: 20px;
        color: #fff;
        background-color: orange;
        border: none;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .display .home a button:hover {
        background-color: rgb(23, 195, 218);
    }

    .display .animation {
        width: 50%;
        height: 400px;


    }

    .display .animation i {
        font-size: 200px;
        margin: 50px;
        margin-top: 400px;
        animation: ani2 1.5s infinite;
        position: absolute;
        color: darkorange;

    }

    .sponser {

        width: 100%;
        height: 500px;

        background-color: red;
        display: block;
        justify-content: space-between;
        background-color: rgba(200, 177, 177, 0.227);
    }

    .sponser img {
        width: 100px;
        height: 100px;
        margin: 30px 60px 10px 0px;
        transition: 1s all;
        position: relative;
        left: 40px;


    }

    .useing {
        width: 100%;
        display: block;
    }

    .useing img {

        width: 355px;
        height: 250px;
        margin: 50px auto;
    }

    .useing p {
        margin: 10px 10px;
        font-size: 20px;

    }

    .useing button {
        width: 160px;
        height: 45px;
        background-color: #fff;
        border: orange 2px solid;
        color: orange;
        border-radius: 5px;
        font-weight: bold;
        position: relative;
        top: 30px;
        right: 0px;
        transition: all 1s;
    }

    .div4 {
        font-size: 20px;
        display: block;
        justify-content: space-around;
        width: 100%;
        height: 230px;

        font-size: 17px;
    }

    .div4 .par1 {
        width: 340px;
        height: 300px;

        margin: auto;


    }

    .div4 .par1 p {

        margin: 10px;
    }

    .div4 .par1 ul {
        margin-left: 30px;
        list-style-type: none;
    }

    .div4 .par1 ul li {
        margin-top: 15px;
    }

    .div4 .par2 {
        width: 340px;
        height: 300px;
        margin: 5px auto;
    }

    .div4 .par2 p {
        margin: auto;
    }

    .div4 .par2 button {
        width: 160px;
        height: 45px;
        margin-top: 30px;
        background-color: #fff;
        border: orange 2px solid;
        color: orange;
        font-weight: bold;
        transition: all 1s;
        border-radius: 5px;
        font-size: 15px;
    }

    .color {
        width: 100%;
        height: 4100px;
        background-color: rgba(200, 177, 177, 0.227);
    }

    .cate {
        width: 100%;
        height: 150px;
        text-align: center;
        margin-top: 350px;

    }

    .div5 {
        width: 350px;
        height: 900px;
        margin: auto;
        text-align: center;
        font-size: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .div5 .d1 {
        width: 430px;
        height: 290px;
        border-radius: 30px;
        margin: 10px 10px 10px 10px;
        position: relative;
        transition: all 0.5s;

    }

    .brands {
        width: 350px;
        height: 150px;
        text-align: center;
        margin-top: 1890px;
        justify-content: space-between;
    }

    .brands h6 {
        font-size: 40px;
        color: darkslategrey;
        border-bottom: solid black 1px;
    }

    .brands p {
        margin: 15px 0px;
    }

    .brands img {
        width: 250px;
        height: 250px;
        margin: 30px 50px;
    }

    .contact {
        width: 100%;
        height: 100px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 30px;

    }

    .div6 {
        width: 100%;
        height: auto;
        display: block;
    }

    .div6 img {
        width: 354px;
        height: 300px;
        margin: 90px 0px 40px 0px;
    }

  
    
  
    
    .div6 .form{
        width: 100%;
        height: auto;
        margin-left: 0px;
        padding-bottom: 30px;
      
    }
    
    .div6 .form .form-row { 
        display: block;
     
    }
    .div6 .form .form-row .form-group {
        width: 100%;
        height: auto;
        
    } 
 
   
    
    
  


    footer {
        height: 210px;
        background-color: darkslategrey;
        display: block;

    }

    footer p {
        padding: 16px 0px;
        font-size: 18px;
    }

    footer #text {
        margin: 30px 0px 0px 10px;
    }

    footer #text a {
        text-decoration: none;
        color: white;
    }


}